<section class="text-pokebola">
  <div><h1 class="title-one">YOUR TEAM POKEMON</h1></div>
  <div><h3 class="subtitle">Open your pokeball to find your team</h3></div>
  <img class="img-team-phone" src="assets/img/yourteam.png" alt="ash pokemon">
  <div class="pokeball-item phone" (click)="mostrar = !mostrar">
    <div class="pokemon-btn"></div>
  </div>
</section>
<section class="all-box">
  <img src="assets/img/pokeball.ico" class="img-none-phone" alt="pokebola" (click)="mostrar = !mostrar">
  <div class="pokemonup" *ngIf="mostrar">
    <section class="container caja-fon-{{ pokemonArcan.types[0].type.name }}" *ngFor="let pokemonArcan of pokemonsTeam" >
      <div class="name-pokemon ">
        {{ pokemonArcan.name }}
      </div>
      <div class="imagen-pokemon">
        <img [src]="pokemonArcan.sprites.versions['generation-v']['black-white'].animated.front_default" class="img-pokemon" alt="imagen de pokemon">
      </div>
      <div class="card-body">
        <h5 class="card-title"><b class="label type-{{ type_pokemonArc.type.name }}" *ngFor=" let type_pokemonArc of pokemonArcan.types"> {{ type_pokemonArc.type.name }} </b></h5>
      </div>
      <div class="pokeball-item desktop">
        <div class="pokemon-btn"></div>
      </div>
    </section>
  </div>
</section>
