// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
// ==================POKEBOLA=====================
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@mixin item-base
  box-sizing: border-box
  position: relative
  width: 75px
  height: 75px

@mixin after-before-base
  content: ""
  position: absolute

.pokeball-item
  @include item-base()
  background-color: white
  border: 4px solid black
  border-radius: 50%
  box-shadow: inset -5px 2px 0 2px lightgray
  cursor: pointer
  overflow: hidden

  &:hover
    //here goes the animation
    animation: shake-pokeball 1.25s alternate 2

  &:before
    @include after-before-base()
    background: red
    width: 100%
    height: 50%

  &:after
    @include after-before-base()
    top: calc(50% - 2px)
    width:100%
    height: 4px
    background: black

.pokemon-btn
  box-sizing: border-box
  position: absolute
  width: 14px
  height: 14px
  border-radius: 50%
  background: lightgray
  border: 3px solid white
  box-shadow: 0 0 0 4px black
  top: calc( 50% - 7px )
  left: calc( 50% - 7px )
  z-index: 10

@keyframes shake-pokeball
  0%
    transform: translate(0,0) rotate(0)
  20%
    transform: translate(-10px,0)  rotate(-20deg)
  30%
    transform: translate(10px,0)  rotate(10deg)
  50%
    transform: translate(-10px,0)  rotate(-10deg)
  30%
    transform: translate(10px,0)  rotate(10deg)
  100%
    transform: translate(0,0) rotate(0)

