<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="home"><img src="assets/img/catchall.png" width="150px" alt=" catch e'm all"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
          <section routerLink="home" routerLinkActive="active-link" class="container">
            <div class="pokeball-item">
              <div class="pokemon-btn"></div>
            </div>
          </section>
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pokemones">POKEDEX</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              TEAMS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="myteam">MY TEAM</a></li>
              <li><a class="dropdown-item" href="yourteam">YOUR TEAM</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <div class="container pt-4">
                <!-- Section: Social media -->
                  <section class="sb-4">
                    <!-- Facebook -->
                    <a
                      class="btn btn-link btn-floating btn-lg text-dark m-1"
                      href="https://www.facebook.com/EdwinJoelH/"
                      role="button"
                      data-mdb-ripple-color="dark"
                      ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a
                      class="btn btn-link btn-floating btn-lg text-dark m-1"
                      href="https://twitter.com/EdwiinJoel"
                      role="button"
                      data-mdb-ripple-color="dark"
                      ><i class="fab fa-twitter"></i
                    ></a>

                    <!-- Instagram -->
                    <!-- <a
                      class="btn btn-link btn-floating btn-lg text-dark m-1"
                      href="https://www.instagram.com/edwinjhs/"
                      role="button"
                      data-mdb-ripple-color="dark"
                      ><i class="fab fa-instagram"></i
                    ></a> -->

                    <!-- Linkedin -->
                    <a
                      class="btn btn-link btn-floating btn-lg text-dark m-1"
                      href="https://www.linkedin.com/in/edwinjhs/"
                      role="button"
                      data-mdb-ripple-color="dark"
                      ><i class="fab fa-linkedin"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-link btn-floating btn-lg text-dark m-1"
                      href="https://github.com/Edwinjhs"
                      role="button"
                      data-mdb-ripple-color="dark"
                      ><i class="fab fa-github"></i
                    ></a>
                  </section>
                  <!-- Section: Social media -->
                </div>
               </li>
            </ul>
          </li>
        </ul>
        <form class="d-flex"  (ngSubmit)="searchPokemon(buscar.value)">
          <input class="form-control me-2" type="search" placeholder="GOTTA SEARCH 'EM ALL" aria-label="Search" #buscar (input)="searchPokemon(buscar.value)">
          <button class="btn btn-outline-success" type="submit">SEARCH</button>
        </form>
        <div *ngIf="pokemonnotfound" class="notfound-box">
          <div class="notfound-class">
            <div><h1>POKEMON NOT FOUND</h1></div>
            <div><img src="assets/img/giphy.gif" width="300px"  alt=""></div>
            <div><h4>TRY AGAIN, DON'T FORGET SEARCH ONLY FOR THE NAME</h4></div>
          </div>

        </div>
        <h4 class="details">CLICK IN POKEMON TO SEE DETAILS</h4>
        <section class="card-of-pokemons carta-pokemon">
          <a href="#">
            <div class="card text-center" *ngFor='let pokemon of pokemons | paginate:{ itemsPerPage: 6, currentPage:page, totalItems: pokemons.length}' >
              <div class="card-header name-fon-{{ pokemon.types[0].type.name }}">
                {{ pokemon.name }}
              </div>
              <div class="card-body">
                <img [src]="pokemon.sprites.other['official-artwork'].front_default"  width="200px" class="img-pokemon" alt="imagen de pokemon">
              </div>
              <div class="card-body">
                <h5 class="card-title"><span class="label type-{{ type_pokemon.type.name }}" *ngFor=" let type_pokemon of pokemon.types"> {{ type_pokemon.type.name }} </span></h5>
              </div>
            </div>
          </a>
        </section>
        <pagination-controls class="pagination"
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange)='OnchangePages($event)'>
        </pagination-controls>
      </div>
    </div>
  </div>
</nav>

