<section class="searchbar">
  <div>
    <img src="../../../assets/img/pokemon-name.webp" alt="">
  </div>
  <div>
    <form class="d-flex"  (ngSubmit)="searchPokemon($event)">
      <input class="form-control me-2" type="search" placeholder="Find Your Pokemon Here" aria-label="Search" #buscar (input)="searchPokemon(buscar.value)">
      <button class="btn btn-outline-success" type="submit">SEARCH</button>
    </form>
  </div>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      FILTER FOR TYPE
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-primary">WATER</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-secondary">POISON</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-success">GRASS</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-danger">FIRE</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-warning">FLYING</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-info">BUG</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-warning">ELECTRIC</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-dark">NORMAL</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-danger">GROUND</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-light">PSYCHIC</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-info">FAIRY</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-secondary">ROCK</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-primary">ICE</span></a></li>

    </ul>
  </div>




</section>

<div *ngIf="pokemonnotfound"> Pokemon no encontrado </div>

<section class="card-of-pokemons">
  <div class="card text-center" *ngFor='let pokemon of pokemons | paginate:{ itemsPerPage: 10, currentPage:page, totalItems: pokemons.length}' >
    <div class="card-header">
      {{pokemon.id}}- {{ pokemon.name}}
    </div>
    <div class="card-body">
      <img [src]="pokemon.sprites.front_default" class="img-pokemon" alt="imagen de pokemon">
      <div class="card-body">
        <h5 class="card-title">Type:<span class="label type-{{ type_pokemon.type.name }}" *ngFor=" let type_pokemon of pokemon.types"> {{ type_pokemon.type.name }} </span></h5>
      </div>
    </div>
    <div class="card-footer text-muted">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ability: <span>{{ pokemon.abilities[0].ability.name }}</span></li>
        <li class="list-group-item">Health: <span>{{ pokemon.stats[0].base_stat }}</span></li>
        <li class="list-group-item">Atack: <span>{{ pokemon.stats[1].base_stat}}</span></li>
        <!-- <li class="list-group-item">Height: <span>{{ pokemon.height }} ft</span></li>
        <li class="list-group-item">Weight: <span>{{ pokemon.weight }} pounds</span></li> -->
      </ul>
      <a href="#" class="btn btn-primary">QUIERO ESTE POKEMON</a>
    </div>
  </div>
</section>
<pagination-controls class="pagination"
previousLabel="Prev"
nextLabel="Next"
(pageChange)='OnchangePages($event)'>
</pagination-controls>
