<section class="searchbar">
  <div>
    <img src="assets/img/pokemon-name.webp" alt="">
  </div>
  <div>
    <form class="d-flex"  (ngSubmit)="searchPokemon(buscar.value)">
      <input class="form-control me-2" type="search" placeholder="GOTTA SEARCH 'EM ALL" aria-label="Search" #buscar (input)="searchPokemon(buscar.value)">
      <button class="btn btn-outline-success" type="submit">SEARCH</button>
    </form>
  </div>

<!-- CHECK CLASSIC TO GIF -->
  <div class="check-switch">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" (change)= "mostrar = !mostrar" id="flexSwitchCheckDefault">
      <label class="form-check-label gif-classic" for="flexSwitchCheckDefault">CLASSIC / GIF</label>
    </div>
  </div>


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      FILTER FOR TYPE
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-primary">WATER</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-secondary">POISON</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-success">GRASS</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-danger">FIRE</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-warning">FLYING</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-info">BUG</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-warning">ELECTRIC</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-dark">NORMAL</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-danger">GROUND</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-light">PSYCHIC</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-info">FAIRY</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-secondary">ROCK</span></a></li>
      <li><a class="dropdown-item" href="#"><span class="badge text-bg-primary">ICE</span></a></li>
    </ul>
  </div>




</section>

<div *ngIf="pokemonnotfound" class="box-notfound">
    <div class="notfound-class">
      <div><h1>POKEMON NOT FOUND</h1></div>
      <div><img src="assets/img/giphy.gif" width="300px" alt=""></div>
      <div><h4>TRY AGAIN, DON'T FORGET SEARCH ONLY FOR THE NAME</h4></div>
    </div>
</div>

<section class="card-of-pokemons">
  <div class="card text-center" *ngFor='let pokemon of pokemons | paginate:{ itemsPerPage: 10, currentPage:page, totalItems: pokemons.length}' >
    <div class="card-header">
      {{pokemon.id}}- {{ pokemon.name}}
    </div>
    <div class="card-body caja-fon-{{ pokemon.types[0].type.name }}">
      <img *ngIf="!mostrar" [src]="pokemon.sprites.versions['generation-v']['black-white'].animated.front_default" class="img-pokemon" alt="imagen de pokemon">
      <img *ngIf="mostrar" [src]="pokemon.sprites.other['official-artwork'].front_default" class="img-pokemon" alt="imagen de pokemon">
      <div class="card-body">
        <h5 class="card-title">Type:<span class="label type-{{ type_pokemon.type.name }}"
          *ngFor=" let type_pokemon of pokemon.types"> {{ type_pokemon.type.name }} </span></h5>
      </div>
    </div>
    <div class="card-footer text-muted">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ability: <span>{{ pokemon.abilities[0].ability.name }}</span></li>
        <li class="list-group-item">Health: <span>{{ pokemon.stats[0].base_stat }}</span></li>
        <li class="list-group-item">Atack: <span>{{ pokemon.stats[1].base_stat}}</span></li>
        <!-- <li class="list-group-item">Height: <span>{{ pokemon.height }} ft</span></li>
        <li class="list-group-item">Weight: <span>{{ pokemon.weight }} pounds</span></li> -->
      </ul>
      <a href="pagenotfound" class="btn btn-primary">QUIERO ESTE POKEMON</a>
    </div>
  </div>
</section>
<pagination-controls class="pagination"
  previousLabel="Prev"
  nextLabel="Next"
  (pageChange)='OnchangePages($event)'>
</pagination-controls>
