// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//================== STYLES OF BUSCADOR ================
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.searchbar
  display: flex
  flex-flow: row wrap
  justify-content: space-around
  padding: 30px

.d-flex
  padding: 20px 5px
.btn
  background: #0ab00a
  color: white
  border-radius: 20px
  padding: 15px
  margin: 10px
.btn:hover
  color: white
  background: #0a560a
.dropdown
  margin-top: 20px
.dropdown-item
  display: flex
  align-content: center
  align-items: center
  justify-content: center

.dropdown-item:hover
  background: #4747478c
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//================== STYLES OF CARD ================
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.card
  margin: 20px
  width: 280px
  text-transform: uppercase
  border-radius: 20px
  box-shadow: 5px 7px 7px rgba(0, 0, 0)

.card-of-pokemons
  width: 100%
  display: flex
  flex-flow: row wrap
  justify-content: center
.card-header
  background: rgba(149, 145, 145, 0.505)
.card-footer
  background:  rgba(149, 145, 145, 0.275)
.list-group-item
  border-radius: 20px
.img-pokemon
  width: 150px
  border: 1px solid rgb(0, 0,0 )
  border-radius: 50px
  box-shadow: 2px 5px 5px #0000009b
// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//======== COLORS OF TYPES,I USE HERE NG CLASS================
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.label
  display: flex
  flex-direction: column
  padding: 10px
  margin: 15px
  color: rgb(0, 0, 0)
  text-align: center
  vertical-align: baseline
  border-radius: 10px

.type-fire
  background-color: rgba(246, 0, 0, 0.549)
.type-poison
  background-color: rgba(78, 38, 164, 0.548)
.type-grass
  background-color: rgba(5, 148, 5, 0.458)
.type-flying
  background-color: rgba(30, 136, 163, 0.45)
.type-water
  background-color: rgba(52, 65, 253, 0.419)
.type-bug
  background-color: rgba(138, 136, 66, 0.405)
.type-normal
  background-color: rgba(113, 175, 111, 0.42)
.type-electric
  background-color: rgba(231, 247, 0, 0.429)
.type-ground
  background-color: rgba(138, 71, 9, 0.353)
.type-fairy
  background-color: rgba(223, 84, 181, 0.327)
.type-fighting
  background-color: rgba(206, 67, 2, 0.531)
.type-psychic
  background-color: rgba(182, 2, 206, 0.488)
.type-rock
  background-color: rgba(145, 143, 143, 0.44)
.type-ghost
  background-color: rgba(48, 45, 78, 0.484)
.type-ice
  background-color: rgba(38, 238, 238, 0.499)
.type-dragon
  background-color: rgba(211, 121, 37, 0.405)

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
//====================== PAGINATION ================
//@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
.pagination
  display: flex
  justify-content: center
  font-size: 14pt

